<div class="academic">
    <div class="top">
        <span></span> Education
    </div>


    <div class="bachelor">
        Indo Global College of Engineering<br> <span style="color: black; font-size: 18px;"> Abhipur, Mohali distt. Punjab, INDIA</span>
        <br><br>
        <li style=" font-size: 18px;">B tech. in CSE</li>

    </div>
    <div class="high">
        Trinity Int'l College<br> <span style="color: black; font-size: 18px;"> Dilli-bazar height, Kathmandu NEPAL</span>
        <br><br>
        <li style=" font-size: 18px;"> H.S.E.B</li>

    </div>

</div>