.top {
    position: absolute;
    top: 0%;
    height: 100px;
    width: 95.5%;
    background-color: rgb(35, 128, 115);
    padding-left: 50px;
    font-size: 30px;
    padding-top: 35px;
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    /* margin-left: 30px; */
    color: white;
}

.hackathon {
    position: absolute;
    top: 200px;
    left: 5%;
    height: 220px;
    width: 430px;
    background-color: rgba(243, 239, 239, 0.808);
    color: rgb(35, 128, 115);
    font-family: 'Quicksand', sans-serif;
    padding: 15px;
    border-style: solid;
    border-color: rgba(170, 105, 75, 0.781);
}