<div class="top">
    <span></span> Contact
</div>
<div class="list">
    <div class="gmail">
        <i class="far fa-envelope fa-2x"></i>

        <a href="mailto:rajatshrma27@gmail.com">rajatshrma27@gmail.com</a>
    </div>
    <div class="gitlab">
        <br> <i class="fab fa-gitlab fa-2x "></i>
        <a href="https://gitlab.com/jsrajat1">https://gitlab.com/jsrajat1</a>
    </div>
    <div class="linkedin">
        <br> <i class="fab fa-linkedin fa-2x"></i>
        <a href="https://gitlab.com/jsrajat1">https://gitlab.com/jsrajat1</a>
    </div>
</div>