.list {
    position: absolute;
    top: 30%;
    height: 400px;
}

.list a {
    position: absolute;
    /* top: 15%; */
    padding-left: 105px;
    color: rgb(35, 128, 115);
    size: 25px;
    text-decoration-line: none;
}

.list a:hover {
    text-decoration: underline;
}

.top {
    position: absolute;
    top: 0%;
    height: 100px;
    width: 95.5%;
    background-color: rgb(35, 128, 115);
    padding-left: 50px;
    font-size: 30px;
    padding-top: 35px;
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    /* margin-left: 30px; */
    color: white;
}

.gmail {
    position: absolute;
    top: 10%;
    padding-left: 30px;
}

.gitlab {
    position: absolute;
    padding-left: 30px;
    top: 20%;
}

.linkedin {
    position: absolute;
    padding-left: 30px;
    top: 39%;
}