<div class="skills">
    <div class="top">
        <span></span> skills
    </div>
    <div class="html">
        <span> HTML </span>
        <hr>
        <img src="./../../assets/icon/icons8-html-5-48.png" style="font-size: 65px;float: left;"> HTML5
    </div>

    <div class="css">
        <span> CSS </span>
        <hr>
        <img src="./../../assets/icon/icons8-css3-48.png" style="font-size:65px; float: left;"> css
    </div>
    <div class="javascript">
        <span> Javascript </span>
        <hr>
        <img src="./../../assets/icon/icons8-angularjs-48.png" style="font-size:5px;float: left;"> Angular &nbsp; &nbsp;
        <img src="./../../assets/icon//icons8-nodejs-48.png" style="font-size:85px;"> nodeJS
    </div>


</div>