.top {
    position: absolute;
    top: 0%;
    height: 100px;
    width: 95.5%;
    background-color: rgb(35, 128, 115);
    padding-left: 50px;
    font-size: 30px;
    padding-top: 35px;
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    /* margin-left: 30px; */
    color: white;
}

.html {
    position: absolute;
    top: 150px;
    height: 120px;
    width: 60%;
    background-color: rgba(34, 34, 33, 0.486);
    padding: 10px 0px 0px 20px;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
}

.html span {
    font-size: 35px;
    color: rgba(244, 247, 244, 0.849);
}

.css {
    position: absolute;
    top: 300px;
    height: 120px;
    width: 60%;
    background-color: rgba(34, 34, 33, 0.486);
    padding: 10px 0px 0px 20px;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

.css span {
    font-size: 35px;
    color: rgba(244, 247, 244, 0.849);
}

.javascript {
    position: absolute;
    top: 450px;
    height: 130px;
    width: 60%;
    background-color: rgba(34, 34, 33, 0.486);
    padding: 10px 0px 0px 20px;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

.javascript span {
    font-size: 35px;
    color: rgba(244, 247, 244, 0.849);
}