<!--The content below is only a placeholder and can be replaced.-->
<div class="leftNavDetail">
    <div class="name">
        <br><br>
        <h2><u> sharma </u></h2><br>
    </div>

    <ul>
        <li><b> <a [routerLink]='["/home"]'>Home </a></b><br></li>
        <li> <b><a [routerLink]='["/academic"]'>Education</a></b><br></li>
        <li> <b><a [routerLink]='["/skills"]'>Skills</a></b><br></li>
        <li> <b><a [routerLink]='["/achievement"]'>Awards</a></b><br></li>
        <li> <b><a [routerLink]='["/contact"]'>Contact </a></b><br></li>
        <li> <b><a [routerLink]='["/details"]'>Resume</a></b><br></li>
    </ul>

    <div class="footer">
        <p>Copyright ©2019 All rights reserved | This copy of template is made by Rajat Sharma</p>
    </div>

</div>

<div class="main">
    <router-outlet></router-outlet>
</div>

<div class="footer2">

</div>