.leftNavDetail {
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 19.5%;
    height: 100%;
    /*background color of left navigation bar */
    background-color: rgba(240, 248, 255, 0.904);
    text-align: center;
    border-right: solid;
    border-right-color: rgb(68, 221, 37);
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    size: 18px;
    /* background-color: #f1f1f1; */
}

li a {
    display: block;
    color: rgb(107, 98, 98);
    padding: 8px 12px;
    text-decoration: none;
    font-size: 20px;
}

.leftNavDetail a:hover {
    color: rgba(12, 12, 12, 0.904);
    background-color: rgba(109, 101, 101, 0.473);
}

.main {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 190px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 0px;
    position: relative;
    top: 0%;
    left: 5%;
    bottom: 0%;
    height: 600px;
    width: 81%;
    background-image: url(./../assets/photos/christmas.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 1000px;
}

@media screen and (max-height: 450px) {
    .leftNavDetail {
        padding-top: 15px;
    }
    .leftNavDetail a {
        font-size: 18px;
    }
}

.footer {
    position: absolute;
    bottom: 0px;
}

.footer p {
    color: rgba(107, 98, 98, 0.856);
}

.name h2 {
    font-family: 'Quicksand', sans-serif;
    color: rgba(7, 4, 0, 0.959);
}