.profilePic {
    position: absolute;
    left: 40%;
    top: 5%;
    height: 200px;
    width: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.home .contains {
    padding: 200px 0px 0px 25px;
    text-align: center;
}

.home {
    background-image: url(./../../assets/photos/getty_509107562_2000133320009280346_351827.jpg);
    height: 620px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0%;
    margin-bottom: 0px;
}

.para {
    position: absolute;
    left: 30%;
    height: 180px;
    width: 400px;
    font-size: 20px;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: rgba(46, 44, 44, 0.459);
    background-color: rgba(122, 203, 214, 0.493);
    padding: 0px 5px 0px 5px;
    border-top-left-radius: 7px;
}

.button {
    background-color: rgba(46, 44, 44, 0.459);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}

.button:hover {
    color: white;
}