<div class="home">

    <div>
        <img class="profilePic" src="./../../assets/photos/C360_2019-01-26-21-35-28-403.jpg" alt="Profile photo">
    </div>
    <div class="contains">
        <h5 style="color: rgb(107, 98, 98)"> Rajat Sharma </h5>
        <h5 style="color: rgb(236, 217, 193); text-decoration-line:underline;"> Junior Web developer <b> (Angular)</b></h5>
        <button class="button" (click)="openList()">About me<div *ngIf='a' style="font-size: medium;">show more</div></button><br>

        <div class="para" style="color: rgb(245, 245, 250);" *ngIf='!a'>
            <p>
                Working as a freelancer on my own,searching for a leading company that can provide an opportunity to prove my ability for the progress of the company.
            </p>
        </div>
    </div>
</div>